# Dependencies
node_modules/
.pnp
.pnp.js

# Production build (Cloudflare will build this automatically)
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Local files
*.bat
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
